.App {
  display: flex;
}

main {
  width: calc(100% - 150px);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

aside {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.currList {
  list-style-type: none;
  margin: 0;
  width: 150px;
  overflow-y: auto;
  text-align: left;
  padding: 10px;
  background: #ddd;
}

.currItem {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}


